APP_ENV=dev
APP_DEBUG=0
APP_SECRET=replace-with-random-secret
DEMO_API_KEY=replace-with-random-api-key
DATABASE_URL=postgresql://merchant:change-me@127.0.0.1:5432/merchantpay?serverVersion=17.0.0&charset=utf8
GITHUB_URL=https://github.com/tarekfrk79-svg/merchant-payments-api-php
PORT=8080
